<header class="headerColumn">
  <div class="headerColumn__navToggle closedToggle">
    <div class="headerColumn__navButton">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
    
  <div class="headerColumn__glovalNav">
    <h1 class="headerColumn__title"><a href="/">PAND&nbsp;Style</a></h1>
    <nav>
      <ul class="headerColumn__glovalNavList">
        <li class="headerColumn__glovalNavButton"><a href="/#message">MESSAGE</a></li>
        <li class="headerColumn__glovalNavButton"><a href="/#concept">CONCEPT</a></li>
        <li class="headerColumn__glovalNavButton"><a href="/#service">SERVICE</a></li>
        <li class="headerColumn__glovalNavButton"><a href="/#recruit">RECRUIT</a></li>
        <li class="headerColumn__glovalNavButton"><a href="/#company">COMPANY</a></li>
        <li class="headerColumn__glovalNavButton"><a href="/#access">ACCESS</a></li>
      </ul>
    </nav>
  </div>
</header>
